<h2><%= @quote.author%></h2>
<h2><%= @quote.content%></h2>
<p><%= @quote.likes.count %> <%= (@quote.likes.count) == 1 ? 'Like' : 'Likes'%></p>
<% pre_like = @quote.likes.find { |like| like.user_id == Current.user.id} %>
<% if pre_like %>
  <%= button_to 'Unlike', quote_like_path(@quote, pre_like), method: :delete %>
<% else %>
  <%= button_to 'Like', quote_likes_path(@quote), method: :post %>
<% end %>
<br>
<% if Current.user == @quote.user %>
  <%= link_to "Edit", edit_quote_path(@quote) %>
  <%= link_to 'Delete', quote_path(@quote), method: :delete, data: { confirm: 'Are you sure? This can\'t be undone!' } %>
<% end %>
