<h1><%= Current.user.first_name %>'s Quotes</h1>
<% @quotes.each do |quote| %>
  <%= link_to quote_path(quote) do %>
    <div>
      <h4><%= quote.author %>:</h4>
      <h4><i><%= quote.content %></i></h4>
      <p>Posted by: <%= quote.user.first_name %></p>
    </div>
  <% end %>
<% end %>
