<h1><%= @user.first_name %>'s Profile</h1>
<h3>Name: <%= @user.full_name %></h3>
<h3>Email: <%= @user.email %></h3>
<h4>Number of Quotes: <%= @user.quotes.count %></h4>
<h4>Number of Likes: <%= @user.likes.count %></h4>
<%= link_to "#{@user.first_name}'s Quotes", custom_user_quotes_url %><br>
<%= link_to "#{@user.first_name}'s Liked Quotes", custom_user_likes_url%><br>
<% if Current.user == @user %>
  <%= link_to 'Edit Password', :edit_password %>
<% end%>
