<!DOCTYPE html>
<html>
  <head>
    <title>Quotely</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if Current.user %>
      <div id='navBar'>
        <%= link_to 'Home', :root, form: {style: 'display:inline-block;'}%>
        <%= link_to 'Post A Quote', :new_quote, form: {style: 'display:inline-block;'}%>
        <%= link_to 'Feed', :quotes, form: {style: 'display:inline-block;'} %>
        <%= link_to 'Your Quotes', :user_feed, form: {style: 'display:inline-block;'} %>
        <%= link_to 'Edit Password', :edit_password, form: {style: 'display:inline-block;'}  %>
        Logged in as: <%= link_to Current.user.email, user_path(Current.user.id) %>
        <%= button_to 'Logout', logout_path, method: :delete, form: {style: 'display:inline-block;'}  %>
      </div>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
