<!DOCTYPE html>
<html>
  <head>
    <title>Quotely</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if Current.user %>
      <div id='nav_bar'>
        <%= link_to 'Home', :root%>
        <%= link_to 'Post A Quote', :new_quote%>
        <%= link_to 'Feed', :quotes %>
        <%= link_to 'Your Quotes', :user_feed %>
        <%= link_to "Logged in as: #{Current.user.first_name}", user_path(Current.user.id) %>
      </div>
    <% end %>
    <div id='app_wrap'>
      <% unless notice.nil? %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
